
.navbar-brand {
    border: none !important;
    color: grey
}

.h1FontAnton {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 4rem;
}

.h2FontAnton {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

body {
    font-family: 'Abel', sans-serif;
    background-color: #F0F0F0;
}


.dot {
    color: white;
    height: 105px;
    width: 105px;
    border-radius: 50%;
    border: 8px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    margin: auto;
}


.circle1 {
    background-color: #E6563B !important;
}


.circle2 {
    background-color: #EB9D3A;
}

.circle3 {
    background-color: #7CB06C;
}

.circle4 {
    background-color: #00ABA9;
}

.row {
    background-color: #F0F0F0;
    /*max-width: 1170px;*/
}

h6 {
    font-size: 1.5em;
}

.pics {
    border: 5px solid #E6E6E6;
    width: 100%;
    box-sizing: border-box;
}

section {
    display: flex;
    flex-wrap: nowrap;
}

.miniCircle {
    color: black;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Abel', sans-serif !important;
    font-weight: bold;
}

p {
    margin-right: auto;
}

.blog-posts {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: left;
}
.blog-posts h6 {
    text-align: center;
}
.blog-post {
    display: flex;
    column-gap: 15px;
}
.blog-post h3 {
    font-family: 'Anton', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    text-align: left;
}

.img-wrapper {
    height: 75px;
    width: 75px;
    position: relative;
    overflow: hidden;
    border: 3px solid #E6E6E6;
    flex: none;
}

.blog-img   {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    object-fit: cover;
}
