.h1FontAnton {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 4rem;
}

.h2FontAnton {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}